

 .icon-rider {
    height: 100px;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    animation-name: left_to_right;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

    @keyframes left_to_right {
        0%   {visibility: visible; left:0%;}
        100% {visibility: visible; left:100%;}
      }
    
}

.back-checkout {
         
    background-image: url('images/city-landscape.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;




    &-container {

        overflow-x: hidden;
        width: 100%;
        height: 100vh;
    }

}




