.footer_wrapper{
    padding: 30px;
    margin-top: 30px;
    //background: linear-gradient(to bottom right, #2fac66 6%, #006699 64%);
    background-color: $db_blue;
    //background-image: url('../../images/footer_bg.jpg');
    background-size: cover;
    background-position: left;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    hr, .credits  {
        @media screen and( max-width: 700px){
            display: none;
        }
    }


    
    
    .img_footer{
        align-items: center;
        padding-left: 4%;

        display: flex;
        width: calc(100% / 3);

        @media screen and( max-width: 768px){
            width: 0;
            margin: 0;
            padding: 0;
        }
        img{
            width: 280px;

            @media screen and( max-width: 992px){
                width: 180px;
            }

            @media screen and( max-width: 768px){
                display: none;
            }

            
        }
    }
    
    .footer_content{
        display: flex;
        justify-content: space-between;

       


        .content_list{
            display: flex;
            justify-content: flex-end;



            &.about {
                width: calc(50%);

                @media screen and( max-width: 768px){
                    width: 100%;
                    justify-content: center;
                }
            }

            @media screen and( max-width: 500px){
                display: flex;
                flex-wrap: wrap;
            }

            
        }
    
        .footer_list{
            margin: 0 30px;

            h4{
                font-weight: bold;
                margin-bottom: 15px;
                color: #fff;

            }

            li {
                list-style: none;

                a{
                    font-size: 20px;
                    color: #fff;


                    i{
                        font-size: 24px;
                    }   

                    @media screen and( max-width: 768px){
                        font-size: 18px;
                    }
                    
                }
            }

            @media screen and( max-width: 992px){
                margin: 0 15px;
            }

            @media screen and( max-width: 500px){
               width: 100%;
            }
        }
    }

    hr{
        border: 1px solid #fff;
    }

    .credits{
        text-align: center;
        color: #fff;
    }
}


#foot-booleat {
    border-radius: 40% 20% 0 0;
    
  }





.site-footer
{
  background-image: url('../../images/footer_bg.jpg');
  background-size: cover;
  background-position: right;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: $db_white;
  height: 400px;
}
.site-footer hr
{
  border-top-color: $db_yellow;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:$db_yellow;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color: $db_yellow;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color: $db_red;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:$db_red-light;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
