.footer_wrapper{
    padding: 30px;
    margin-top: 30px;
    background: linear-gradient(to bottom right, #2fac66 6%, #006699 64%);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    
    .img_footer{
        img{
            width: 280px;

            @media screen and( max-width: 992px){
                width: 180px;
            }

            @media screen and( max-width: 768px){
                display: none;
            }
        }
    }
    
    .footer_content{
        display: flex;
        justify-content: space-between;

        .content_list{
            display: flex;

            @media screen and( max-width: 768px){
                width: 100%;
                // flex-wrap: wrap;
                justify-content: space-around;
            }

            @media screen and( max-width: 500px){
                display: flex;
                flex-wrap: wrap;
            }
        }
    
        .footer_list{
            margin: 0 30px;

            h4{
                font-weight: bold;
                margin-bottom: 15px;
                color: #fff;

            }

            li {
                list-style: none;

                a{
                    font-size: 20px;
                    color: #fff;


                    i{
                        font-size: 24px;
                    }   

                    @media screen and( max-width: 768px){
                        font-size: 18px;
                    }
                    
                }
            }

            @media screen and( max-width: 992px){
                margin: 0 15px;
            }

            @media screen and( max-width: 500px){
               width: 100%;
            }
        }
    }

    hr{
        border: 1px solid #fff;
    }

    .credits{
        text-align: center;
        color: #fff;
    }
}