.dashboard_left{
display: flex;
flex-direction: column;
align-items: center;
position: fixed;
left: 0;
width: 20vw;
height: 100vh;
padding: 30px;
  background: linear-gradient(to bottom, #006699 0%, #00334d 87%);
  text-align: left;
  overflow-y: auto;

  $breakpoint-middle: 992px;
  @media (max-width: $breakpoint-middle) {
      .container_aside{
          // width: 100%;
          display: flex;
      }
  }

  .container_aside{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;

      .box_info{
          
          img{
              max-width: 200px;
              border-radius: 50%;
          }
      }
  }

  .dashbord_left_info{
      display: flex;
      flex-direction: column;   
      justify-content: flex-start;
      font-size: 18px;

      a{
          height: 45px;
          line-height: 75px;
          display: block;
          color: #fff;
          font-style: italic;
          font-weight: 600;
          text-decoration: none;
          text-shadow: 2px 3px 3px rgba(150, 150, 150, 1);
          line-height: 45px;
          border-radius: 5px;
          margin: 10px 0;
          
          &:hover{
              color: #fff;
              background: linear-gradient(to bottom, #0099cc 0%, #00ffcc 100%);
          }
      }
  }
}


.btn-logout {
    background-color: azure;
    width: 200px;
    border-radius: 15px;
    margin: 0 auto;
}