body{

    background-size: cover;
}


.main_logo img{
    width: 100px;
    margin: 10px 0;
}

.dashboard{
    display: flex;
    height: 100%;
    width: 100%;
}

.dashboard_left, .dashboard_right{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #0099cc 0%, #00ffcc 100%);
    height:100%;

    h3{
        font-size: 22px;
        text-shadow: 2px 3px 3px rgba(150, 150, 150, 1);
    }
}



.dashboard_right{
    width: 80vw;
    margin: 0 auto;
    height: 100%;
    position: fixed;
    right: 0;
    padding: 30px;
    background: linear-gradient(to bottom right, #f2f2f2 17%, #e6e6e6 88%);
    overflow-y: auto;

    &-card{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        

        .box_plate{
            flex-shrink: 0;
            margin: 10px;
            //width: calc(( 100% / 3 ) - 20px);
            height: 100%;
            width: 200px;      
            background-color: #fff;
            text-align: center;
            border-radius: 5px;
            box-shadow: 2px 3px 3px rgba(150, 150, 150, 1);
            //padding: 10px;            

            img{                
                width: 100%;
                height: 160px;
                //border-radius: 5px;
            };
            p {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
    
    .stats_container{

        .stats{
            width: 100%;
            height: 100%;
            box-shadow: 2px 3px 3px rgba(150, 150, 150, 1);


            .progress{
                height: 80px;
            }
        }
    }
    .btn_invisible{
        border: none;   

    }
    &-table-img{
        
        height:70px;
        width:40px;
            
        img{

            width: 100%;
            height: 100%;
        }
    
    }
}



