.main_nav_home{
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 0;
    align-items: center;

    .text_icon_nav_top{
        
        h2{
            font-weight: bold;
            font-size: 34px;
            color: #004466;
            font-style: italic;
            vertical-align: middle;
        }

        img{
            width: 60px;
        }
    }    
    
    img{
        margin: 10px 0 10px 30px;
    }

    .nav_top_right{
        margin-right: 30px;
    }

    .button_card_menu {
        padding: 10px 25px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        outline: none;
        // background-color: #2fac66;
        background: #2b5876;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #4e4376, #2b5876);  
        background: linear-gradient(to bottom, #4e4376, #2b5876); 
        border: none;
        border-radius: 5px;
        box-shadow: 0 9px #999;
        margin-bottom: 20px;
        margin-left: 10px;

        a{
            color: #fff;

            &:hover{
                text-decoration: none;
            }
        }
      }

      .button_card_menu:hover {
        // background-color: coral;
        background: linear-gradient(to right, #38ef7d, #11998e);
      }
    
        .button_card_menu:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        }
    
        img{
            width: 100px;
        }

        button{
            line-height: 100%;
            height: 60%;
            
            i{
                vertical-align: middle;

                &:hover{
                    color: #fff;
                }
            }
        }

        a{
            list-style: none;
            color: #000;
            font-weight: 600;
            vertical-align: middle;
        }
}
.jumbotron_wrapper {
    background-image: url('images/banner_4.png');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;

    .height-text-jumbotron {
        line-height: 200px;
    }

}

.jumbotron_content{

    h1{
        font-weight: bold;
        font-size: 80px;
        color: #004466;

    }

    h2{
        font-weight: bold;
        font-size: 40px;
        font-weight: 600;
        color: #000;
    }

    
    @media screen and( max-width: 992px){
        
        h1{
            font-size: 50px;
        }

        h2{
            font-size: 34px;
        }
    }

    @media screen and( max-width: 768px){
        
        h1{
            font-size: 40;
        }

        h2{
            font-size: 24px;
        }
    }

    @media screen and( max-width: 450px){
        
        h1{
            font-size: 26px;
        }

        h2{
            font-size: 18px;
        }
    }

    input{
        background-color: #fff;
        border-radius: 5px;
    }

    button{
        width: 200px;
        margin-top: 30px;
        transition: all 0.5s;
        cursor: pointer;
     }
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
    // margin: 0 auto;
    padding: 30px 0;
    max-width: 100%;
    
    h4{
        color: #004466;
        font-size: 22px;
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
    }
 
    .card_restaurant {
        width: calc((100% / 4) - 20px);
        margin: 10px 10px 30px 10px;
        -webkit-border-top-left-radius: 30px;
        -webkit-border-top-right-radius: 30px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        -webkit-box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.74); 
        box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.74);
        
        h4,p,button{
            margin: 8px;
        }

        img {
            width: 100%;
            height: 300px;
            -webkit-border-top-left-radius: 30px;
            -webkit-border-top-right-radius: 30px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .card_address{
            color: #2fac66;
            font-weight: bold;
            font-style: italic;
        }

        .button_card_menu {
            padding: 5px 20px;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            outline: none;
            background-color: #004466;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
            margin-bottom: 20px;

            a{
                color: #fff;

                &:hover{
                    text-decoration: none;
                }
            }
          }
          
          .button_card_menu:hover {
            transition: all .5s ease-out;
            background-color: #3e8e41;  
            }
          
          .button_card_menu:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            // transform: translateY(4px);
          }
    }

    .card_restaurant {
        position: relative;
        width: calc((100% / 4) - 20px);

        @media screen and( max-width: 1280px){
            width: calc((100% / 3) - 20px);
            
            h4{
                font-size: 20px;
            }
        }

        @media screen and( max-width: 1080px){
            width: calc((100% / 3) - 20px);
            
            h4{
                font-size: 18px;
            }
        }

        @media screen and( max-width: 992px){
            width: calc((100% / 2) - 20px);
            
            h4{
                font-size: 16px;
            }
        }

        @media screen and( max-width: 768px){
            width: calc((100% / 1) - 20px);
            
            h4{
                font-size: 14px;
            }
        }
      }
      
      .overlay {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        background-color: rgba($color: #004466, $alpha: 0.9);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
        -webkit-border-top-left-radius: 30px;
        -webkit-border-top-right-radius: 30px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      
      .card_restaurant:hover .overlay {
        width: 100%;
        left: 0;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }

      .btn_menu_overlay {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
}

.jumbotron_bottom{
    background-image: url('images/banner_2.webp');
    filter: grayscale(44%) opacity(81%);
    -webkit-filter: grayscale(44%) opacity(81%);
    -moz-filter: grayscale(44%) opacity(81%);
    background-size: cover;
    height: 300px;

    input{
        height: 40px;
        width: 200px;
        border: none;
        padding: 5px;

        &:hover{
            outline: none;
        }
    }
}

.wrapper_genres{

    h2{
        margin: 30px 0 20px 20px;
        font-weight: bold;
        font-style: italic;
        font-size: 32px;
        color: #004466;
    }

    .navbar_genres{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .genres_content{
            margin: 5px;

            a{
                font-size: 18px;
                text-decoration: none;
                font-weight: bold;
                font-style: italic;
            }

            img{
                display: block;
                width: 200px;
                height: 100px;
            }
        } 
    }
}