.container-check-genre {
 display: flex;
 flex-direction: column;
 align-items: left;
 width: 400px;
 flex-wrap: wrap;
 margin: auto;
 padding: 40px 0;
}


.register_form {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%)!important;
    padding: 50px 0;
    width: 100%;
    min-height: 100%;

    label {
        font-weight: bold;
        color: #900C3F;
    }
    h1 {
        text-transform: uppercase;
        font-weight: bold;
    }
    
}

.head_genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
        font-size: 30px;
        color: #900C3F;
    }
    i {
        margin: auto;
        font-size: 30px;
        color: #900C3F;
    }
}


.form-fields {
    max-width: 800px;
    margin: 0 auto;
}